
<!-- <div class="container bg-image"> -->
<div class="container mt-1">
  <div class="row justify-content-center">
<!--     <div class="col-md-6 mt-3 p-5 m-auto card"> -->

<!--   <div class="row"> -->
    <div class="col-6 m-auto">

      <div class="service-form">
        <h1>Modify tutoring</h1>
        <div class="mt-3, mb-2">
          <%= render "form", service: @service %>
          <%= render 'partial', service: @service %>
        </div>
      </div>
    </div>
  </div>
</div>

