<!-- il faut render la navbar -->
<div class="container">

  <div class="status-appointment">
    <div class="type-user">
      <!-- faire une boucle pour que chaque student affiche sa carte -->
      <%= render './shared/card' %>
    </div>
    <div class="type-user">
      <%= render './shared/card' %>
    </div>
  </div>

  <div class="status-appointment">
      <%= render './shared/card' %>
  </div>
</div>
