<!-- il faut render la navbar -->
<div class="container">

  <div class="status-appointment">
    <div class="card-grid-user">
      <h1>Courses Booked</h1>
      <h1>Upcoming courses</h1>
      <div class="card-grid-user-status">
        <!-- faire une boucle pour que chaque student affiche sa carte -->
        <% @booked_services.each do |service| %>
          <%= render './shared/card', service: service %>
        <% end %>
      </div>
      <div class="card-grid-user-status">
        <% @received_services.each do |service| %>
          <%= render './shared/card', service: service %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="status-appointment">
    <h1>Archived services</h1>
  <div class="row">
    <div class="card-grid-container-done">
      <% @archived_services.each do |service| %>
        <%= render './shared/card', service: service %>
      <% end %>
    </div>
  </div>
  </div>
</div>
