
<div class="card-product">
  <img src="https://unsplash.com/photos/FcLyt7lW5wg" />
  <div class="card-product-infos">
    <h2><%= @service.name %></h2>
    <p>Availabilities: <%= @service.date %></p>
    <p>Address: <%= @service.address %></p>
    <p>Status: <%= @service.status %></p>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
