// Specific CSS for your home-page

// .link_home {
//   margin-top: 5px;
// }
// .container {
//     display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.photo_home {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.link_home {
  display: flex;
  justify-content: space-around;
}

.image-home {
  width: 1266px;
  height: 540px;
}

.button-color {
  background-color: #da9833;
  color: white;
  font-size: 24px;
  padding: 11px;
  border-radius: 10px;
}
