<div class="card-appointment">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-appointment-infos">
    <div>
      <h2>TA : Kevin </h2>
      <p> Ruby </p>
    </div>
    <h2 class="card-appointment-pricing"> 9€</h2>
    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
  </div>
</div>
