.container_search_TA {
// display: flex;
  //grid-template-columns: 40px 50px auto 50px 40px;;
  // grid-template-rows: 80px auto 80px;
  // grid-column-gap: 10px;
  // grid-row-gap: 15px;

}

.cards_search_TA {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin: 100px 200px;

}

.card_search_TA {
text-align: center;
border-radius: 30px;
background-size: cover;
color: white;
}

#select_TA {
text-align: center;
}

.filters {
text-align: center;
}

